/* TODO Add site wide styles */

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#86A688;
}
button{
    border:0;
    border-radius:10px;
}
button:hover{
    background-color:#86A688;
}


.footer{
    position: fixed;
    margin:center; 
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
}
.links{
    padding-top: 19px;
    padding-left: 5px;
}
#linkedin{
    padding-left: 5px;
    font-size:19px;
}
#github{
    font-size: 19px;
}
.nav{
    padding-bottom: 5px;
    border-left: 0;
    border-bottom: 1px solid #e4eef8;
}
#line{
    position: fixed;
    margin:center;
    bottom: 45px;
    width: 100%
}
hr{
   width:30%    
}
img{
    height:60px;
    width: 60px;
}
.imgage{
    
    display: flex;
    margin: center;
    justify-content:center;
    align-items:center;
}